UPDATE STATEMENT

It is used to modify existing data in a table

In [ ]:
SELECT *
FROM Northwind.dbo.CustomerDemographics;

-- Let's update the NULL value in CustomerDemographics table

UPDATE Northwind.dbo.CustomerDemographics
SET CustomerDesc = 'Companies from Asia';

SELECT *
FROM Northwind.dbo.CustomerDemographics;

-- Because we didn't add a where clause to our UPDATE statement all records are set to 'Companies from Asia'
-- It is important to use UPDATE statement with WHERE clause in order not to update all te records
-- Let's correct all the details

UPDATE Northwind.dbo.CustomerDemographics
SET CustomerDesc = 'Companies from Europe'
WHERE CustomerTypeID = 'EU';

UPDATE Northwind.dbo.CustomerDemographics
SET CustomerDesc = 'Companies from North America'
WHERE CustomerTypeID = 'NA';

UPDATE Northwind.dbo.CustomerDemographics
SET CustomerDesc = 'Companies from South America'
WHERE CustomerTypeID = 'SA';

UPDATE Northwind.dbo.CustomerDemographics
SET CustomerDesc = 'Companies from Africa'
WHERE CustomerTypeID = 'AF';

SELECT *
FROM Northwind.dbo.CustomerDemographics;

-- Let's insert some more records to CustomerCustomerDemo table

SELECT *
FROM Northwind.dbo.CustomerCustomerDemo;

SELECT CustomerID, Country
FROM Northwind.dbo.Customers;

-- Some correct values

INSERT INTO Northwind.dbo.CustomerCustomerDemo VALUES
('CENTC', 'SA'),
('CHOPS', 'EU'),
('COMMI', 'SA'),
('CONSH', 'EU');

-- Some wrong values

INSERT INTO Northwind.dbo.CustomerCustomerDemo VALUES
('DRACD', 'AF'),
('DUMON', 'AS'),
('EASTC', 'AS');

-- Now UPDATE those wrong values

UPDATE Northwind.dbo.CustomerCustomerDemo
SET CustomerTypeID = 'EU'
WHERE CustomerID = 'DRACD'
AND CustomerID = 'DUMON'
AND CustomerID = 'EASTC';

-- Nothing changed because we used AND operator

SELECT *
FROM Northwind.dbo.CustomerCustomerDemo;

-- If we use OR operator all the records will be updated as we want

UPDATE Northwind.dbo.CustomerCustomerDemo
SET CustomerTypeID = 'EU'
WHERE CustomerID = 'DRACD'
OR CustomerID = 'DUMON'
OR CustomerID = 'EASTC';