# **<mark>AGGREGATE FUNCTIONS and ALIAS</mark>**

MAX, MIN, AVG, SUM, COUNT

In [ ]:
SELECT *
FROM Northwind.dbo.Products;

-- MAX function returns the maximum/greatest value in the selected column

-- What is the maximum value units in stock column from Products table?

SELECT MAX(UnitsInStock)
FROM Northwind.dbo.Products;

-- We can use it for strings also, it brings alphabetically last one

-- What is alpabetically last product name from Products table?

SELECT MAX(ProductName)
FROM Northwind.dbo.Products;

-- MIN function returns the minimum value in the selected column

-- What is the smallest value in Units on order column from Products table?

SELECT MIN(UnitsOnOrder)
FROM Northwind.dbo.Products;

-- We can use MIN for strings also, it brings alphabetically first one

-- What is alpabetically first product name from Products table?

SELECT MIN(ProductName)
FROM Northwind.dbo.Products;

-- SUM function returns the total value of the records in the selected column

-- What is the total units in stock from Products table?

SELECT SUM(UnitsInStock)
FROM Northwind.dbo.Products;

-- AVG function returns the average value of the reocrds in the selected column

-- What is the average unit price in Products table?

SELECT AVG(UnitPrice)
FROM Northwind.dbo.Products;

-- COUNT function returns the number of rows in a query

-- How many rows are there in Products table?

SELECT COUNT(*)
FROM Northwind.dbo.Products;

-- It is possible to find the number of rows in a specified column

-- How many rows are there in SupplierID column from Products table?

SELECT COUNT(SupplierID)
FROM Northwind.dbo.Products;

-- If we want to ignore DUPLICATES we use DISTINCT keyword with COUNT function

-- How many UNIQUE values in SupplierID column from Products table?

SELECT COUNT(DISTINCT SupplierID)
FROM Northwind.dbo.Products;

-- Let's count the rows in Customers table

SELECT COUNT(*)
FROM Northwind.dbo.Customers;

-- What if we count a column that contain NULL values?

-- How many values are there in Region column from Customers table?

SELECT COUNT(Region)
FROM Northwind.dbo.Customers;

-- Remember a field with a NULL value is an empty field! There is nothing in it!

-- We can add a condition for all those functions

-- What is the biggest Unit Price within the products belonging to CatogoryID 4 from the Products table?

SELECT MAX(UnitPrice)
FROM Northwind.dbo.Products
WHERE CategoryID = 4;

-- What is the lowest Unit Price within the products belonging to CatogoryID 7 from the Products table?

SELECT MIN(UnitPrice)
FROM Northwind.dbo.Products
WHERE CategoryID = 7;

-- What is the average Units in Stock of the products with CategoryID 1, 2, 3 from the Products table?

SELECT AVG(UnitsInStock)
FROM Northwind.dbo.Products
WHERE CategoryID IN (1, 2, 3);

-- How many products in the Products table have a product name between 'B' and 'L'?

SELECT COUNT(ProductID)
FROM Northwind.dbo.Products
WHERE ProductName BETWEEN 'B' and 'L';

-- Remember when using BETWEEN operator start and end values are included!

-- What is the total number of units on order of products whose name starts with 'a', 'b', or 'c' from the Products table?  

SELECT SUM(UnitsOnOrder)
FROM Northwind.dbo.Products
WHERE ProductName LIKE '[abc]%';

-- It is not possible to bring another column with aggregate functions!

SELECT ProductName, MAX(UnitsInStock)
FROM Northwind.dbo.Products;

-- But we can use aggregate functions together

-- Please find the maximum, minimum, average and total values of Units in stock from the Products table in a query.

SELECT MAX(UnitsInStock), MIN(UnitsInStock), AVG(UnitsInStock), SUM(UnitsInStock)
FROM Northwind.dbo.Products;

-- Until now 'no column name' is writen in our results
-- We can give a temporary column name to our results by using aliases 
-- It makes our work more understandable
-- AS keyword is used to make aliases

SELECT MAX(UnitsInStock) as MaxInStock, MIN(UnitsInStock) as MinInStock, AVG(UnitsInStock) as AverageInStock, SUM(UnitsInStock) as TotalInStock
FROM Northwind.dbo.Products;