# **<u><mark>ALIASES</mark></u>**

We can give a temporary name to our results by using aliases

It makes our results more understandable/readable

AS keyword is used to make aliases

In [ ]:
SELECT *
FROM Northwind.dbo.Products;

-- Bring the number of products that belongs to CategoryID 1 and use an alias for the result

SELECT COUNT(ProductID) AS CountCategory1
FROM Northwind.dbo.Products
WHERE CategoryID = 1;

-- What is total units in stock from Products table? Use an alias for the result

SELECT SUM(UnitsInStock) AS TotalUnitsINSTOCK
FROM Northwind.dbo.Products;

-- What is average unit price of products where reorder level is greater than 0, from Products table? 
-- Use an alias for the result to make result more understandable.

SELECT AVG(UnitPrice) AS AverageUnitPrice
FROM Northwind.dbo.Products
WHERE ReorderLevel > 0;

-- AS keyword is not obligatory when we are making aliases

SELECT SUM(UnitPrice) TotalUnitPrice, AVG(UnitPrice) AverageUnitPrice
FROM Northwind.dbo.Products;

-- Can we make an alias with SPACE character?
-- For this we have to use BRACKETS or DOUBLE QUOTES

-- What is the number of products from SupplierID 2?
-- Use an alias including space

SELECT COUNT(ProductID) AS "Number of Products from Supplier2"
FROM Northwind.dbo.Products
WHERE SupplierID = 2;

-- What is the number of products from SupplierID 4?
-- Use an alias including space

SELECT COUNT(ProductID) AS [Number of Products from Supplier4]
FROM Northwind.dbo.Products
WHERE SupplierID = 4;

-- Is it possible to CONCATANATE columns?

SELECT *
FROM Northwind.dbo.Employees;

-- Please bring title of courtesy, firstname and lastname together under "Employee Name", from Employee Table

SELECT TitleOfCourtesy + ' ' + FirstName + ' ' + LastName AS "Employee Name"
FROM Northwind.dbo.Employees;

-- Add another column to above query and bring all the columns about address in an "Address" column

SELECT TitleOfCourtesy + ' ' + FirstName + ' ' + LastName AS "Employee Name", Address + ' ' + City + ' ' + Region + ' ' + PostalCode + ' ' + Country AS Address
FROM Northwind.dbo.Employees;

-- If you added region column to concatenate address, the result will be NULL in some fields
-- Concatenating a field with NULL value is not possible

SELECT TitleOfCourtesy + ' ' + FirstName + ' ' + LastName AS "Employee Name", Address + ' ' + City + ' ' + PostalCode + ' ' + Country AS Address
FROM Northwind.dbo.Employees;

It is also possible to give an alias to a table

It will be better to dive into it with JOINS