# **<u><mark>WHERE CLAUSE</mark></u>**

<span style="color: var(--vscode-foreground);">Used to filter data</span>

Returns records only match with specified condition

It is used with OPERATORS

WHERE clause is writen after FROM clause

In [ ]:
-- Bring Order ID, ShipVia, Ship Name, Ship City and Ship Country of orders whose Ship Country is USA from ORDERS table

SELECT OrderID, ShipVia, ShipName, ShipCity, ShipCountry
FROM Northwind.dbo.Orders
WHERE ShipCountry = 'USA';

-- To add a condition we use OPERATORS in a WHERE clause
-- EQUAL operator can be used with strings as above but the text must be written between single quotes
-- But numeric values don't need quotes

-- Bring Order ID, Customer ID, Employee ID, Order Date of orders taken by employee ID 7.

SELECT OrderID, CustomerID, EmployeeID, OrderDate
FROM Northwind.dbo.Orders
WHERE EmployeeID = 7;

-- Greater Than >, Less Than <

-- Bring details of orders that have an id greater than 11000 

SELECT *
FROM Northwind.dbo.Orders
WHERE OrderID > 11000;

-- Bring details of orders that have an id less than than 10300 

SELECT *
FROM Northwind.dbo.Orders
WHERE OrderID < 10300;

-- Greater Than or Equal >=, Less Than or Equal <=

-- Bring Order ID, Order Date and Shipped Date of orders that have an id greater than or equal to 11055 

SELECT OrderID, OrderDate, ShippedDate
FROM Northwind.dbo.Orders
WHERE OrderID >= 11055;

-- Bring Order ID, Order Date, Shipped Date and Ship Country of orders that have an id less than or equal to 10266 

SELECT OrderID, OrderDate, ShippedDate, ShipCountry
FROM Northwind.dbo.Orders
WHERE OrderID <= 10266;

-- Not Equal <>

-- Bring the details of orders which didn't shipped via 3

SELECT *
FROM Northwind.dbo.Orders
WHERE ShipVia <> 3;

-- To return a certain range BETWEEN operator is used
-- Includes the values written inside between operator

-- Bring the details of orders whose order id are between 10266 and 10288

SELECT *
FROM Northwind.dbo.Orders
WHERE OrderID BETWEEN 10266 AND 10288;

-- LIKE operator is used to search for a pattern 
-- We use wildcards with LIKE operator
-- '%' is used for any character and any number of characters
-- '_' is used for just one character but it can replace any character

-- Bring the details of orders that are shipped to the cities that starts with 'm'

SELECT *
FROM Northwind.dbo.Orders
WHERE ShipCity LIKE 'm%';

-- Bring the details of orders whose order id starts with 1037

SELECT *
FROM Northwind.dbo.Orders
WHERE OrderID LIKE '1037_';

-- IN operator is used to search for multiple values in a column 

-- Bring the details of orders whose Customer id is 'QUICK' and 'RATTC'

SELECT *
FROM Northwind.dbo.Orders
WHERE CustomerID IN ('QUICK', 'RATTC');

-- By AND & OR operators adding two or more conditions is possible 
-- AND operator means ALL the conditions are TRUE
-- OR Operator means ANY of the conditions are TRUE

-- Bring the details of orders which are not shipped via 3 and taken by employee id 8

SELECT *
FROM Northwind.dbo.Orders
WHERE ShipVia <> 3 AND EmployeeID = 8;

-- Bring the details of orders taken by employee id 3 or employee id 8

SELECT *
FROM Northwind.dbo.Orders
WHERE EmployeeID = 3 OR EmployeeID = 8;

These operators, where clause and wildcards will be detailed later

WHERE clause can also be used with **OTHER STATEMENTS,** not just withÂ select statement