# **<u><mark>WHERE CLAUSE</mark></u>**

Used to filter data

Returns records only match with specified condition

In [ ]:
SELECT *
FROM Orders
WHERE ShipCountry = 'USA';

-- To add a condition we use OPERATORS in a WHERE clause
-- EQUAL operator can be used with strings as above but the text must be written between single quotes

-- But numeric values don't need quotes
SELECT *
FROM Orders
WHERE EmployeeID = 7;

-- Greater Than, Less Than

SELECT *
FROM Orders
WHERE OrderID > 11000;

SELECT *
FROM Orders
WHERE OrderID < 10300;

-- Greater Than or Equal, Less Than or Equal

SELECT *
FROM Orders
WHERE OrderID >= 11055;

SELECT *
FROM Orders
WHERE OrderID <= 10266;

-- Not Equal

SELECT *
FROM Orders
WHERE ShipVia <> 3;

-- To return a certain range BETWEEN operator is used
-- Includes the values written in between operator

SELECT *
FROM Orders
WHERE OrderID BETWEEN 10266 AND 10288;

-- Searching for a pattern LIKE operator is used

SELECT *
FROM Orders
WHERE OrderID LIKE '103__';

-- To search for multiple values from a column IN operator is used

SELECT *
FROM Orders
WHERE CustomerID IN ('QUICK', 'RATTC');

-- Adding two conditions is possible by AND Operator, also by OR operator

SELECT *
FROM Orders
WHERE ShipVia <> 3 AND EmployeeID = 8;

SELECT *
FROM Orders
WHERE EmployeeID = 3 OR EmployeeID = 8;

these operators and where clause will be detailed later

WHERE clause can also be used with **OTHER STATEMENTS,** not just withÂ select statement