# **<mark><u>WILDCARDS and LIKE Operator</u></mark>**

Wildcards are substitute characters

They can replace one or more character

Wildcards are used with LIKE operator

% wildcard represent zero or more characters

In [ ]:
/* Retrieve all datas where Contact Title starts with 'S' from SuUPPLIERS table*/

SELECT *
FROM Suppliers
WHERE ContactTitle LIKE 'S%';

-- Retrieve all datas where contact title includes 'Manager'

SELECT *
FROM Suppliers
WHERE ContactTitle LIKE '%Manager%';

-- Retrieve all datas where contact title does NOT include 'Manager'
-- NOT operator gives the opposite result with combination LIKE

SELECT *
FROM Suppliers
WHERE ContactTitle NOT LIKE '%Manager%';

-- Retrieve all datas where contact title includes 'Manager' OR 'Mgr'

SELECT *
FROM Suppliers
WHERE ContactTitle LIKE '%Manager%' OR ContactTitle LIKE '%Mgr%';

-- There will be an error when we try to combine two conditions in one LIKE keyword
-- We have to add another LIKE keyword as above

SELECT *
FROM Suppliers
--WHERE ContactTitle LIKE '%Manager%' OR '%Mgr%';

-- Retrieve contact titles where contact title includes 'Marketing' OR 'Representative'

SELECT ContactTitle
FROM Suppliers
WHERE ContactTitle LIKE '%marketing%' OR ContactTitle LIKE '%representative%';

-- Retrieve contact titles where contact title includes 'Marketing' AND 'Representative'

SELECT ContactTitle
FROM Suppliers
WHERE ContactTitle LIKE '%marketing%' AND ContactTitle LIKE '%representative%';

-- Retrieve all datas where company name ENDS WITH 'Ltd.'

SELECT *
FROM Suppliers
WHERE CompanyName LIKE '%Ltd.';

------------------------------------------
-- _ wilcard represents one character

SELECT *
FROM Suppliers
WHERE Country LIKE 'U_';

-- We can use MULTPLE _ wildcards

SELECT *
FROM Suppliers
WHERE Country LIKE 'U__';

SELECT *
FROM Suppliers
WHERE City LIKE '____on';

--------------------------------
-- [] wildcard represents all the characters in the brackets

-- Return all data where contact title STARTS WITH 'a', 'w' and 's' letters

SELECT *
FROM Suppliers
WHERE ContactTitle LIKE '[aws]%';

-- We use - wildcard within brackets to specify a range

SELECT *
FROM Suppliers
WHERE CompanyName LIKE '[e-l]%'
ORDER BY CompanyName;

-- Retrieve addresses starting with NUMERIC values

SELECT Address
FROM Suppliers
WHERE Address LIKE '[0-9]%';

-- We use ^ wildcard to eliminate the characters in the brackets
-- Retrieve addresses NOT starting with numeric values

SELECT Address
FROM Suppliers
WHERE Address LIKE '[^0-9]%';

SELECT Address
FROM Suppliers
WHERE Address NOT LIKE '[0-9]%';

-- Retrieve contact titles starting with 'sales' and addresses NOT starting with numeric values, and cities

SELECT ContactTitle, Address, City
FROM Suppliers
WHERE ContactTitle LIKE 'Sales%' AND Address LIKE '[^0-9]%';

-- Retrieve contact titles NOT starting with 'sales' and addresses starting with numeric values, and cities

SELECT ContactTitle, Address, City
FROM Suppliers
WHERE ContactTitle NOT LIKE 'Sales%' AND Address LIKE '[0-9]%';

-- A contact from one of our SUPPLIERS called me today. His last name ends with 'SON' or 'SEN' and his title was 'SALES' something, I cannot remember all the details.
-- Can you find me the person, please. Send me also company name, country and phone number.

SELECT CompanyName, ContactName, ContactTitle, Phone, Country
FROM Suppliers
WHERE ContactName LIKE '%s_n' AND ContactTitle LIKE '%Sales%';

-- One week ago a contact from our CUSTOMERS called me. Name was Mary, Marie, Maria, Mariana or Mariah. Supposed to be 'OWNER' and possibly from 'FRANCE'.
-- Make me two lists. Make the first list according to name conditions. I am sure name was one of them. Add company name, contact name, title, city, country and phone number please.
-- Include title and country conditions to the second list.   

SELECT CompanyName, ContactName, ContactTitle, City, Country, Phone
FROM Customers
WHERE ContactName LIKE 'Mar%';

SELECT CompanyName, ContactName, ContactTitle, City, Country, Phone
FROM Customers
WHERE ContactName LIKE 'Mar%' AND ContactTitle LIKE '%owner%' AND Country = 'France';


-- There was a company from our CUSTOMERS, ends with 'dos, das, des, dis' something like that.
-- The contact had a TITLE sth about 'SALES'
-- COUNTRY was Brazil or France, CITY Sao Paulo or Saint Etienne

SELECT *
FROM Customers
WHERE CompanyName LIKE '%d_s' AND ContactTitle LIKE '%sales%'
AND (Country ='Brazil' AND City = 'Sao Paulo') OR (Country = 'France' AND City = 'Saint Etienne');