# **<u><mark>UNION Operator</mark></u>**

It is used to combine the results of SELECT statements

Column numbers must be equal and the matching columns must have a similar data type

In [ ]:
SELECT *
FROM Northwind.dbo.Customers;

SELECT *
FROM Northwind.dbo.Suppliers;

-- Bring company names, contact names and contact titles from Customers and Suppliers tables

SELECT CompanyName, ContactName, ContactTitle
FROM Northwind.dbo.Customers
UNION
SELECT CompanyName, ContactName, ContactTitle
FROM Northwind.dbo.Suppliers;

-- Bring contact titles from Customers and Suppliers tables

SELECT ContactTitle
FROM Northwind.dbo.Customers
UNION
SELECT ContactTitle
FROM Northwind.dbo.Suppliers;

-- There are more than 20 values for contact title in both table. But UNION operator brings DISTINCT/UNIQUE values

-- To bring ALL the records including duplicates, we must use UNION ALL operator

SELECT ContactTitle
FROM Northwind.dbo.Customers
UNION ALL
SELECT ContactTitle
FROM Northwind.dbo.Suppliers;

-- Can we combine more than two tables?

-- Bring contact titles from Customers and Suppliers table and title from Employees table, only distinct ones.

SELECT ContactTitle
FROM Northwind.dbo.Customers
UNION
SELECT ContactTitle
FROM Northwind.dbo.Suppliers
UNION
SELECT Title
FROM Northwind.dbo.Employees;

-- SQL returns us the first column name in UNION operators
-- We can use aliases if we want to change the name

SELECT ContactTitle as title
FROM Northwind.dbo.Customers
UNION
SELECT ContactTitle
FROM Northwind.dbo.Suppliers
UNION
SELECT Title
FROM Northwind.dbo.Employees;

-- We can use UNION operator with WHERE clause
-- Bring names of company's from Brazil, their contact names and contact titles from Customers and Suppliers tables

SELECT CompanyName, ContactName, ContactTitle
FROM Northwind.dbo.Customers
WHERE Country = 'Brazil'
UNION
SELECT CompanyName, ContactName, ContactTitle
FROM Northwind.dbo.Suppliers
WHERE Country = 'Brazil';

-- Is there any same contact names in Customers and Suppliers tables? Find using UNION operator

SELECT ContactName
FROM Northwind.dbo.Customers
UNION
SELECT ContactName
FROM Northwind.dbo.Suppliers;

SELECT ContactName
FROM Northwind.dbo.Customers
UNION ALL
SELECT ContactName
FROM Northwind.dbo.Suppliers;

-- For Union and Union All operator number of result is same: 120. There is no duplicate value so no same contact names.

-- Did you notice UNION operator brings the result in an ascending order where UNION ALL operator preserves the order in tables!

-- Bring distinct country, city value pairs from Customers and Suppliers tables

SELECT Country, City
FROM Northwind.dbo.Customers
UNION
SELECT Country, City
FROM Northwind.dbo.Suppliers;

-- Bring company name, country, city and phone values of the company's from USA, UK, Brazil and Mexico from the Customers and Suppliers tables
-- And ORDER the result respectively by country, city and company name

SELECT CompanyName, Country, City, Phone
FROM Northwind.dbo.Customers
WHERE Country IN ('USA', 'UK', 'Brazil', 'Mexico')
UNION
SELECT CompanyName, Country, City, Phone
FROM Northwind.dbo.Suppliers
WHERE Country IN ('USA', 'UK', 'Brazil', 'Mexico')
ORDER BY Country, City, CompanyName;

-- By default UNION operator ordered the result according to first column.
-- To order the result according to another column we must add ORDER BY keyword at the end of query
-- If we try to add ORDER BY keyword before UNION operator there will be incorrect syntax error

-- Bring CustomerID or SupplierID as ID and Company name from Customers and Suppliers tables

SELECT CustomerID as ID, CompanyName
FROM Northwind.dbo.Customers
UNION
SELECT SupplierID, CompanyName
FROM Northwind.dbo.Suppliers;

-- Due to ID columns have different data types UNION operator gives error!

-- Bring CompanyName, ContactName, ContactTitle with contact's surname ends with 'er' or 'en' from Customers and Suppliers tables
-- Order the result according to Contact Title

SELECT CompanyName, ContactName, ContactTitle
FROM Northwind.dbo.Customers
WHERE ContactName LIKE '%er' OR ContactName LIKE '%en'
UNION
SELECT CompanyName, ContactName, ContactTitle
FROM Northwind.dbo.Suppliers
WHERE ContactName LIKE '%er' OR ContactName LIKE '%en'
ORDER BY ContactTitle;

<span style="color: #93a1a1;font-style: italic;">-- UNION operator maybe useful when combining two similar tables from different times</span>

<span style="color: #93a1a1;font-style: italic;">-- Such as 2023 customers and 2022 customers</span>