JOINS

It is possible to join/combine two or more tables in an SQL query

For this we need a column that exists in both tables

We link tables by that common column

In [ ]:
SELECT *
FROM Northwind.dbo.Suppliers;

SELECT *
FROM Northwind.dbo.Products;

-- Join Products table with Suppliers table by using SupplierID.

SELECT *
FROM Northwind.dbo.Products
JOIN Northwind.dbo.Suppliers
ON Products.SupplierID = Suppliers.SupplierID;

-- Joining all the contents of two tables can give us a huge result
-- We can specify the column names when joining

-- Please bring products from Products table and their suppliers and the supplier's country from Supplier table.

SELECT ProductName, CompanyName, Country
FROM Northwind.dbo.Products
JOIN Northwind.dbo.Suppliers
ON Products.SupplierID = Suppliers.SupplierID;

-- Order above query by company name

SELECT ProductName, CompanyName, Country
FROM Northwind.dbo.Products
JOIN Northwind.dbo.Suppliers
ON Products.SupplierID = Suppliers.SupplierID
ORDER BY CompanyName;

-- Please add SupplierID to the above query

SELECT ProductName, SupplierID, CompanyName, Country
FROM Northwind.dbo.Products
JOIN Northwind.dbo.Suppliers
ON Products.SupplierID = Suppliers.SupplierID
ORDER BY CompanyName;

-- SupplierID is the common column in both tables.
-- When we don't specify from which table it is going to get it will give us an error!
-- Correct the above query by specifying table name and order our query according to supplierID first, then product name.

SELECT ProductName, Suppliers.SupplierID, CompanyName, Country
FROM Northwind.dbo.Products
JOIN Northwind.dbo.Suppliers
ON Products.SupplierID = Suppliers.SupplierID
ORDER BY SupplierID, ProductName;