# **<u><mark>JOINS</mark></u>**

It is possible to join/combine two or more tables in an SQL query

For this we need a column that exists in both tables

We link tables by that common column

In [ ]:
SELECT *
FROM Northwind.dbo.Suppliers;

SELECT *
FROM Northwind.dbo.Products;

-- Join Products table with Suppliers table by using SupplierID.

SELECT *
FROM Northwind.dbo.Products
JOIN Northwind.dbo.Suppliers
ON Products.SupplierID = Suppliers.SupplierID;

-- Joining all the contents of two tables can give us a huge result
-- We can specify the column names when joining

-- Please bring products from Products table and their suppliers and the supplier's country from Supplier table.

SELECT ProductName, CompanyName, Country
FROM Northwind.dbo.Products
JOIN Northwind.dbo.Suppliers
ON Products.SupplierID = Suppliers.SupplierID;

-- Order above query by company name

SELECT ProductName, CompanyName, Country
FROM Northwind.dbo.Products
JOIN Northwind.dbo.Suppliers
ON Products.SupplierID = Suppliers.SupplierID
ORDER BY CompanyName;

-- Please add SupplierID to the above query

SELECT ProductName, SupplierID, CompanyName, Country
FROM Northwind.dbo.Products
JOIN Northwind.dbo.Suppliers
ON Products.SupplierID = Suppliers.SupplierID
ORDER BY CompanyName;

-- SupplierID is the common column in both tables.
-- When we don't specify from which table it is going to get it will give us an error!
-- Correct the above query by specifying table name and order our query according to supplierID first, then product name.

SELECT ProductName, Suppliers.SupplierID, CompanyName, Country
FROM Northwind.dbo.Products
JOIN Northwind.dbo.Suppliers
ON Products.SupplierID = Suppliers.SupplierID
ORDER BY SupplierID, ProductName;-- Join Products table with Suppliers table by using SupplierID.

SELECT *
FROM Northwind.dbo.Products
JOIN Northwind.dbo.Suppliers
ON Products.SupplierID = Suppliers.SupplierID;

-- Joining all the contents of two tables can give us a huge result
-- We can specify the column names when joining

-- Please bring products from Products table and their suppliers and the supplier's country from Supplier table.

SELECT ProductName, CompanyName, Country
FROM Northwind.dbo.Products
JOIN Northwind.dbo.Suppliers
ON Products.SupplierID = Suppliers.SupplierID;

-- Order above query by company name

SELECT ProductName, CompanyName, Country
FROM Northwind.dbo.Products
JOIN Northwind.dbo.Suppliers
ON Products.SupplierID = Suppliers.SupplierID
ORDER BY CompanyName;

-- Please add SupplierID to the above query

SELECT ProductName, SupplierID, CompanyName, Country
FROM Northwind.dbo.Products
JOIN Northwind.dbo.Suppliers
ON Products.SupplierID = Suppliers.SupplierID
ORDER BY CompanyName;

-- SupplierID is the common column in both tables.
-- When we don't specify from which table it is going to get it will give us an error!
-- Correct the above query by specifying table name and order our query according to supplierID first, then product name.

SELECT ProductName, Suppliers.SupplierID, CompanyName, Country
FROM Northwind.dbo.Products
JOIN Northwind.dbo.Suppliers
ON Products.SupplierID = Suppliers.SupplierID
ORDER BY SupplierID, ProductName;

-- There are different types of join
-- JOIN keyword is same with INNER JOIN
-- INNER JOIN brings the matching values from two tables
-- What does matching value means?
-- With the help of a common column we join two tables, let it be CustomerID
-- So INNER JOIN brings the records of CustomerID's that exist in both tables

-- Inner Join Customers table with Orders table on CustomerID, bring CustomerID, CompanyName, Country, OrderID and OrderDate 

SELECT Customers.CustomerID, CompanyName, Country, OrderID, OrderDate
FROM Northwind.dbo.Customers
INNER JOIN Northwind.dbo.Orders
ON Customers.CustomerID = Orders.CustomerID

-- There are 830 rows in INNER JOIN query!

-- FULL (OUTER) JOIN brings all the records existing in two tables when there is a match in either table
-- Let's make the above query with FULL JOIN instead of INNER JOIN

SELECT Customers.CustomerID, CompanyName, Country, OrderID, OrderDate
FROM Northwind.dbo.Customers
FULL JOIN Northwind.dbo.Orders
ON Customers.CustomerID = Orders.CustomerID

-- There are 832 rows in FULL JOIN query
-- At the end we can see PARIS and FISSA CustomerID's which don't exist in our INNER JOIN query
-- PARIS and FISSA CustomerID's exist in Customers table but they are not in Orders table
-- FULL JOIN returns PARIS and FISSA CustomerID's from Customers Table but it cannot find a matching value in Orders table and so OrderID and OrderDate columns are NULL for this id's.  

-- LEFT JOIN returns all the records from left table, the first table we write in query, and matching recodrs from right table, the table we write after ON keyword

SELECT Customers.CustomerID, CompanyName, Country, OrderID, OrderDate
FROM Northwind.dbo.Customers
LEFT JOIN Northwind.dbo.Orders
ON Customers.CustomerID = Orders.CustomerID

-- The result is same with FULL JOIN, the query again brings PARIS and FISSA from the left table, Customer's table.

-- RIGHT JOIN returns all the records from right table, the table we write after ON keyword, and matching records from left table, the table we first write

SELECT Customers.CustomerID, CompanyName, Country, OrderID, OrderDate
FROM Northwind.dbo.Customers
RIGHT JOIN Northwind.dbo.Orders
ON Customers.CustomerID = Orders.CustomerID

-- The result is same with INNER JOIN, because there is no CustomerID's in Orders table which do not exist in Customers table
-- But if change the tables in our query we can better see RIGHT JOIN

SELECT Customers.CustomerID, CompanyName, Country, OrderID, OrderDate
FROM Northwind.dbo.Orders
RIGHT JOIN Northwind.dbo.Customers
ON Customers.CustomerID = Orders.CustomerID

-- When Customers is the right table again PARIS and FISSA CustomerID's return in our query.

-- Is it possible to join three tables?

-- Select all products from Products Table and bring supplier and category informations

SELECT ProductID, ProductName, Suppliers.SupplierID, CompanyName, Categories.CategoryID, CategoryName
FROM ((Northwind.dbo.Products
INNER JOIN Northwind.dbo.Suppliers
ON Products.SupplierID = Suppliers.SupplierID)
INNER JOIN Northwind.dbo.Categories
ON Products.CategoryID = Categories.CategoryID)
ORDER BY SupplierID, CategoryID;

-- As you can see there are many table names and it is difficult to write them always
-- We can use aliases for tables also
-- Let's do the same example with aliases

SELECT ProductID, ProductName, supp.SupplierID, CompanyName, cat.CategoryID, CategoryName
FROM ((Northwind.dbo.Products as pro
INNER JOIN Northwind.dbo.Suppliers as supp
ON pro.SupplierID = supp.SupplierID)
INNER JOIN Northwind.dbo.Categories as cat
ON pro.CategoryID = cat.CategoryID)
ORDER BY SupplierID, CategoryID;

-- There is another JOIN type: Self Join
-- The table is joined within itself

-- Let's match the products from the same supplier

SELECT A.ProductName, B.ProductName
FROM Northwind.dbo.Products A, Northwind.dbo.Products B
WHERE A.ProductID <> B.ProductID
AND A.SupplierID = B.SupplierID;