# **<mark>DELETE STATEMENT</mark>**

It is used to delete exisiting data in a table

In [ ]:
SELECT *
FROM Northwind.dbo.CustomerDemographics;

-- There is no company from Africa OR Asia in our Customers table
-- So we can delete these rows

DELETE FROM Northwind.dbo.CustomerDemographics
WHERE CustomerTypeID = 'AF' OR CustomerTypeID = 'AS';

SELECT *
FROM Northwind.dbo.CustomerDemographics;

-- Pay attention! We used a WHERE clause in order not to delete ALL the records

-- To delete ALL records in a table
-- table still exists but all data in it is deleted

DELETE FROM TableName;

-- To delete a table completely

DROP TABLE Table_Name;