# **<u><mark>INSERT INTO STATEMENT and NULL VALUE</mark></u>**

It is used to insert new data into an existing table

There are two empty tables in Northwind sample database, CustomerCustomerDemo and CustomerDemographics, we will work on them

In [ ]:
/* We can add data into ALL the COLUMNS of a table,
Make sure the order of the new values are in the same order with the table columns and also data types are same */

INSERT INTO Northwind.dbo.CustomerCustomerDemo
VALUES ('ALFKI', 'EU'),
('ANATR', 'NA'),
('ANTON', 'NA'),
('AROUT', 'EU'),
('BERGS', 'EU');

INSERT INTO Northwind.dbo.CustomerDemographics
VALUES ('EU', 'Companies from Europe'),
('NA', 'Companies from North America');

SELECT *
FROM Northwind.dbo.CustomerCustomerDemo

SELECT *
FROM Northwind.dbo.CustomerDemographics

-- We can add data not to all columns but just to some columns
-- we have to specify the column name after the table name for this

INSERT INTO Northwind.dbo.CustomerDemographics(CustomerTypeID)
VALUES ('AS');

SELECT *
FROM Northwind.dbo.CustomerDemographics

-- Pay attention! CustomerDesc column for 'AS' is a NULL value due to we didn't add a value to this column

-- NULL VALUE
-- A field with NULL value means there is nothing in this field, it is empty
-- A field 0 in it or a field with space is NOT NULL
-- NULL value means when creating that record it is left blank
-- Just as we did in CustomerDemographics table. When CustomerTypeID is 'AS', CusotmerDesc column is NULL
-- Because we didn't enter a value for this column 

-- Insert some more values to CustomerCustomerDemo and CustomerDemographics table

INSERT INTO Northwind.dbo.CustomerCustomerDemo
VALUES ('BLAUS', 'EU'),
('BLONP', 'EU'),
('BOLID', 'EU'),
('BONAP', 'EU'),
('BOTTM', 'NA'),
('BSBEV', 'EU'),
('CACTU', 'SA');

INSERT INTO Northwind.dbo.CustomerDemographics
VALUES ('SA', 'Companies from South America');

-- I cannot insert into CustomerCustomerDemo table a non existing customerid in customers table and a non existing customer type id in customer demographics table
-- Becasue there is a foreign key constraint for each column, pay attention!

INSERT INTO CustomerCustomerDemo
VALUES ('xxxx', 'x');

-- Pay attention! when I am on MASTER branch, if I insert data to a table WITHOUT specifying the database name it will not add data to my table in the database!

INSERT INTO CustomerDemographics
VALUES ('AF', 'Companies from Africa');

SELECT *
FROM Northwind.dbo.CustomerDemographics

SELECT *
FROM CustomerDemographics

-- But if I choose Database Northwind and add a value without specifying database name it will add to my table in the database.

INSERT INTO CustomerDemographics
VALUES ('AF', 'Companies from Africa');

SELECT *
FROM Northwind.dbo.CustomerDemographics

---------------------------------------------------
-- How to retrieve the fields with NULL values?
-- We use IS NULL for it

SELECT *
FROM Northwind.dbo.Customers
WHERE Region is  NULL;

-- To retrieve NOT NULL fields we use IS NOT NULL

SELECT *
FROM Northwind.dbo.Suppliers
WHERE Region is not NULL;

-- Can we use comparison operators for NULL values?

SELECT *
FROM Northwind.dbo.Suppliers
WHERE Region = NULL;

SELECT *
FROM Northwind.dbo.Suppliers
WHERE Region <> NULL;

-- As you can see we can't use comparison operators for NULL values.
-- Because NULL values are unknown values, they are not equal to something