# **<u><mark>SUBQUERY/INNER QUERY</mark></u>**

It is a query within another query

It can be in a SELECT statement, FROM or WHERE clauses

In [ ]:
SELECT *
FROM Northwind.dbo.Products;

-- SubQuery in a SELECT statement
-- Bring Product Name, Unit Price and Average Unit Price from Products table 

SELECT ProductName, UnitPrice, (SELECT AVG(UnitPrice) FROM Northwind.dbo.Products) as AverageUnitPrice
FROM Northwind.dbo.Products;

-- We can't do the same thing without a subquery!

SELECT ProductName, UnitPrice, AVG(UnitPrice)
FROM Northwind.dbo.Products;

-- Bring Product Name, UnitsInStock and total UnitsInStock from Products table
-- Sort by UnitsInStock in descending order

SELECT ProductName, UnitsInStock, (SELECT SUM(UnitsInStock) FROM Northwind.dbo.Products) as TotalUnitsInStock
FROM Northwind.dbo.Products
ORDER BY UnitsInStock DESC;

-- SubQuery in a FROM clause
-- We can put a select statement into a FROM clause and execute on it as a table

-- First bring product name, unit price, units on order and total units on order from Products table
-- Then put it into a FROM clause and bring ProductName, UnitPrice, UnitsOnOrder, TotalUnitsOnOrder
-- Sort by descending order according to UnitsOnOrder

SELECT ProductName, UnitPrice, UnitsOnOrder, TotalUnitsOnOrder
FROM (SELECT ProductName, UnitPrice, UnitsOnOrder, (SELECT SUM(UnitsOnOrder) FROM Northwind.dbo.Products) as TotalUnitsOnOrder FROM Northwind.dbo.Products) as UnitOrder
ORDER BY UnitsOnOrder DESC

-- Pay attention, if we don't give an alias to the new table in FROM clause we get an error! 

-- Subquery in a FROM caluse with two tables

-- Bring orderid's, and orderdate's of orders taken by employee Margaret Peacock writen her name on a column as EmployeeName.
-- Use subquery in FROM clause

SELECT OrderID, OrderDate, EmployeeName
FROM (SELECT OrderID, OrderDate FROM Northwind.dbo.Orders WHERE EmployeeID = 4) as ord, (SELECT FirstName + ' ' + LastName as EmployeeName FROM Northwind.dbo.Employees WHERE EmployeeID = 4) as emp

-- Subquery in a FROM caluse with three tables

-- Bring products from products table with the supplier 'Specialty Biscuits, Ltd.' from Suppliers table and with the category 'confections' from the Categories table 

SELECT ProductName, CompanyName, CategoryName
FROM (SELECT ProductName FROM Northwind.dbo.Products WHERE SUpplierID = 8 and CategoryID = 3) as pro, 
(SELECT CompanyName FROM Northwind.dbo.Suppliers WHERE SupplierID = 8) as sup, 
(SELECT CategoryName FROM Northwind.dbo.Categories WHERE CategoryID = 3) as cat

-- SubQuery in a WHERE Clause
-- We can benefit a condition from another table without using JOIN by subqueries in a WHERE Clause 

-- Bring the order id, order date and customer id of orders made by customers from Brazil
 
SELECT OrderId, OrderDate, CustomerID 
FROM Northwind.dbo.Orders
WHERE CustomerID IN (SELECT CustomerID FROM Northwind.dbo.Customers WHERE Country = 'Brazil');

-- In the Orders table we cannot find a data about country but we can find it in Customers table
-- CustomerId is a common column in both tables
-- By making a subquery looking for the CustomerID's from Brazil we can combine a condition from another table to Orders table

-- Bring the order id and shipping date of orders that are made by customers whose contact name includes 'tt'

SELECT OrderID, ShippedDate
FROM Northwind.dbo.Orders
WHERE CustomerID IN (SELECT CustomerID FROM Northwind.dbo.Customers WHERE ContactName LIKE '%tt%');

-- Bring products and their supplierid, unitprice, unitsinstock, unitsonorder and reorderlevel whose suppliers are from the cities Tokyo and Signapore

SELECT ProductName, SupplierID, UnitPrice, UnitsInStock, UnitsOnOrder, ReorderLevel
FROM Northwind.dbo.Products
WHERE SupplierID IN (SELECT SupplierId FROM Northwind.Dbo.Suppliers WHERE City IN ('Tokyo', 'Singapore'));